---
interface Props {
	titulo_tarjeta: string;
	li1_1: string;
	li1_2: string;
	li1_3: string;
	li1_4: string;
    titulo_tarjeta_2: string;
	li2_1: string;
	li2_2: string;
	li2_3: string;
	li2_4: string;
}

const { 
    titulo_tarjeta, 
    li1_1,
    li1_2,
    li1_3,
    li1_4,
    titulo_tarjeta_2, 
    li2_1,
    li2_2,
    li2_3,
    li2_4,
    } = Astro.props;
---

<section class="flex justify-between">
    <main class="bg-azul_oscuro w-[49%] rounded-[20px] p-[50px] text-blanco title invisible">
        <div class="w-[50px] h-[50px] rounded-xl mb-[40px] bg-azul_claro bg-opacity-50">
            <img src="/diente.png" alt="" class="w-[50px] h-[50px]">
        </div>
        <h3 class="text-[32px]">{titulo_tarjeta}</h3>
        <ul class="text-[14px] list-disc mt-[20px] pl-[20px]">
            <li>{li1_1}</li>
            <li>{li1_2}</li>
            <li>{li1_3}</li>
            <li>{li1_4}</li>
        </ul>
        <div class="flex justify-between items-center -mt-[60px]">
            <button
            class="mt-[40px] relative flex items-center px-6 py-3 overflow-hidden font-medium transition-all bg-azul_claro rounded-md group"
           >
           <span class="absolute top-0 right-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-azul_rey rounded group-hover:-mr-4 group-hover:-mt-4">
           <span class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-azul_oscuro"></span>
           </span>
           <span
           class="absolute bottom-0 rotate-180 left-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-azul_rey rounded group-hover:-ml-4 group-hover:-mb-4">
           <span class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-azul_oscuro"></span>
           </span>
           <span class="absolute bottom-0 left-0 w-full h-full transition-all duration-500 ease-in-out delay-200 -translate-x-full bg-azul_rey rounded-md group-hover:translate-x-0"></span>
           <span class="relative w-full text-left text-azul_oscuro transition-colors duration-200 ease-in-out group-hover:text-blanco">Agendar cita</span>
           </button>
           <img src="/img/bracket1.png" alt="">

        </div>
    </main>
    <main class="bg-azul_oscuro w-[49%] rounded-[20px] p-[50px] text-blanco title2 invisible">
        <div class="w-[50px] h-[50px] rounded-xl mb-[40px] bg-azul_claro bg-opacity-50">
            <img src="/diente.png" alt="" class="w-[50px] h-[50px]">
        </div>
        <h3 class="text-[32px]">{titulo_tarjeta_2}</h3>
        <ul class="text-[14px] list-disc mt-[20px] pl-[20px]">
            <li>{li2_1}</li>
            <li>{li2_2}</li>
            <li>{li2_3}</li>
            <li>{li2_4}</li>
        </ul>
        <div class="flex justify-between items-center -mt-[60px]">
        <button
         class="mt-[40px] relative flex items-center px-6 py-3 overflow-hidden font-medium transition-all bg-azul_claro rounded-md group"
        >
        <span class="absolute top-0 right-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-azul_rey rounded group-hover:-mr-4 group-hover:-mt-4">
        <span class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-azul_oscuro"></span>
        </span>
        <span
        class="absolute bottom-0 rotate-180 left-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-azul_rey rounded group-hover:-ml-4 group-hover:-mb-4">
        <span class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-azul_oscuro"></span>
        </span>
        <span class="absolute bottom-0 left-0 w-full h-full transition-all duration-500 ease-in-out delay-200 -translate-x-full bg-azul_rey rounded-md group-hover:translate-x-0"></span>
        <span class="relative w-full text-left text-azul_oscuro transition-colors duration-200 ease-in-out group-hover:text-blanco">Agendar cita</span>
        </button>
        <img src="/img/bracket2.png" alt="">



        </div>
    </main>
</section>